asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
distlib==0.4.0
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
filelock==3.25.2
idna==3.11
packaging==26.0
pipenv==2026.5.2
platformdirs==4.9.6
psycopg2-binary==2.9.11
python-discovery==1.2.2
requests==2.33.1
setuptools==82.0.1
shell==1.0.1
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.6.3
virtualenv==21.2.1
